.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.btn{
    width: 17.5em;
    height: 2.75em;
    background-color: var(--darkPurple);
    border: 0;
    border-radius: 0.625em;
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}