.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: var(--lightLavendar)
}

/*Body padding for all except purple section*/
.introSection {
  padding: 0 8em;
  box-sizing: border-box;
}


.introSection {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 5em;
}

.introContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.introText {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2em;

}

.introSignup {

  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}

.introImage {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.benefitsSection {
  width: 100%;
  position: relative;

}

.wavyBkg {
width: 100%;
}

.benefitsContent{
  width: 100%;
  position: absolute;
  top: 0;
  padding: 0 8em;
  box-sizing: border-box;
}

.benefitBlobContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}