.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: var(--lightLavendar)
}

.introSection {

  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.introContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.introText {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2em;

}

.introSignup {

  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}

.introImage {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}